################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AllotedWorkImage
/SecurityAppointmentLetter
/SecurityEmployeePhoto
/SecurityExperienceLetter
/SecurityFamilyRationCard
/SecurityPCC
/SecurityQualificationLetter
/StoreBill
/TransportApplicationForm
/TransportDLScanCopy
/TransportEmployeeQualification
/VehicleDoc
/VisitorProof
/VisitorsAuthourityLetter
/VisitorsPhoto
/WorkshopBills