################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutoCad
/Bills
/EstFile
/Gallery
/img
/MaterialPics
/PDF
/AllotedWorkImage
/SecurityAppointmentLetter
/SecurityEmployeePhoto
/SecurityExperienceLetter
/SecurityFamilyRationCard
/SecurityPCC
/SecurityQualificationLetter
/SliderTheme
/StoreBill
/TransportApplicationForm
/TransportDLScanCopy
/TransportEmployeeQualification
/VehicleDoc
/VisitorProof
/VisitorsAuthourityLetter
/VisitorsPhoto
/WorkshopBills
/Bills/VendorBill
/Bills/CivilBillInvoice  
/Bills/VisitorReceipt
/SecurityAppointmentLetter/TransferLetters
/TransportApplicationForm/Proform


