<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=mssql23.ixwebhosting.com; Initial Catalog=kalgidh_AkalDB; User ID=kalgidh_AkalERP; Password='Akal2014';Integrated Security=False;Max Pool Size = 10000;Pooling = True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=184.168.194.70; Initial Catalog=Akal; User ID=AkalDB; Password='Akal@2014';Integrated Security=False;Max Pool Size = 10000;Pooling = True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=Meister-pc; Initial Catalog=Akal; Integrated Security=true;Max Pool Size = 10000;Pooling = True" providerName="System.Data.SqlClient"/>-->
    <!-- <add name="ConnectionString" connectionString="Data Source=YOGI-PC;Initial Catalog=Akal;Integrated Security=True" providerName="System.Data.SqlClient" />-->
   <!--  <add name="ConnectionString" connectionString="Data Source=122.160.78.189; Initial Catalog=Akal; User ID=akal; Password='Akal@2015';Integrated Security=False;Max Pool Size = 10000;Pooling = True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
<!--<add name="ConnectionString" connectionString="Data Source=barusahibdb1.db.6837930.hostedresource.com; Initial Catalog=barusahibdb1; User ID=barusahibdb1; Password='b7T@qV#5r';Integrated Security=False;Max Pool Size = 10000;Pooling = True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
   <add name="ConnectionString" connectionString="Data Source=BARUSAHIB1\SQLEXPRESS;Initial Catalog=Akal;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="FromEmailAddress" value="akaldrawings@gmail.com" />
    <add key="SMTPPortNum" value="25" />
    <add key="SMTPUserName" value="akaldrawings@gmail.com" />
    <add key="SMTPPassword" value="tumerarakha" />
    <add key="SMSUserID" value="9872202121" />
    <add key="SMSPassword" value="360586" />
    <add key="SMSKey" value="KeKiOlp9gqmsh3JXKCzoFmGpJqlTp14TfnIjsnVNPui2MKgx4O" />
    <add key="AdminToSendDrawingSMS" value="8894164611"></add>
    <add key="AdminTransportSMS" value="9816313263"></add>
  </appSettings>
<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime executionTimeout="440" maxRequestLength="50480" requestPathInvalidCharacters="" />

    <!--<compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
      </assemblies>
    </compilation>-->
   
    <trust level="Full" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider" timeout="90000">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
    <staticContent>
      <mimeMap fileExtension=".dwg" mimeType="application/octet-stream" />
      <!--<mimeMap fileExtension=".kml" mimeType="text/xml" />-->
    </staticContent>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CurrencyConvertorSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CurrencyConvertorSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.webservicex.net/CurrencyConvertor.asmx" binding="basicHttpBinding" bindingConfiguration="CurrencyConvertorSoap" contract="ServiceReference1.CurrencyConvertorSoap" name="CurrencyConvertorSoap" />
    </client>
  </system.serviceModel>
</configuration>