USE [Akal]
GO
/****** Object:  Table [dbo].[City]    Script Date: 10/21/2016 10:13:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[StateId] [int] NULL,
	[CountryId] [int] NULL,
	[CityName] [nvarchar](50) NULL,
	[Pincode] [nvarchar](10) NULL,
	[Active] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[ModifyOn] [datetime] NULL,
	[ModifyBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([CityId], [StateId], [CountryId], [CityName], [Pincode], [Active], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy]) VALUES (1, 1, 15, N'PATIALA', N'147001', 1, CAST(N'2015-03-21 15:36:24.130' AS DateTime), N'ADMIN', NULL, NULL)
INSERT [dbo].[City] ([CityId], [StateId], [CountryId], [CityName], [Pincode], [Active], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy]) VALUES (2, 1, 15, N'NAWASAHER', N'144526', 1, CAST(N'2015-04-02 09:49:34.417' AS DateTime), N'ADMIN', NULL, NULL)
INSERT [dbo].[City] ([CityId], [StateId], [CountryId], [CityName], [Pincode], [Active], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy]) VALUES (3, 1, 15, N'AMRITSAR', N'143001', 1, CAST(N'2015-04-02 09:49:58.000' AS DateTime), N'ADMIN', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[City] OFF
ALTER TABLE [dbo].[City]  WITH CHECK ADD FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([CountryId])
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD FOREIGN KEY([StateId])
REFERENCES [dbo].[State] ([StateId])
GO
